@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tilt+Prism&display=swap');

:root {
    /* Background */
    /*   --background-page: linear-gradient(to top, #031e47 0%, #330867 100%); */
    background: linear-gradient(230deg, #e01111, #940000, #940000, #e01111, #940000, #e01111);

    /* Colors */
    --color-titulo: #ffffff;
    --color-header: #ffffff;
    --color-hr: #b6e7db66;
    --color-paragraph: #999999;
    /* Fonts */
    --font-header: 'Overpass', sans-serif;
    --font-titulo-header: 'Rubik Iso', cursive;
    --font-sections: 'Shantell Sans', cursive;
    --font-paragraph: 'Poppins', sans-serif;
}

/* Define el tamano de ancho del scroll */
::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: var(--background-page);
}

.container__principal {
    width: 100%;
    min-height: 100vh;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    /* Oculta el desbordamiento horizontal */
}

.img-titulo img {
    position: absolute;
    width: 100%;
    /* Establece un ancho para la imagen */
    height: auto;
    /* Permite que la altura se ajuste automáticamente */
    max-width: 200%;
    /* Asegura que la imagen no exceda el tamaño del contenedor */
    transform: translateX(15%);
    /* Mueve la imagen hacia la izquierda */
    transform: translateY(-95%);
    /* Mueve la imagen hacia la izquierda */
}


.logo-balon {
    display: none;
}


/* Generals Configuration */
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--background-page);
    box-shadow: 0 8px 32px 0 rgb(255, 255, 255);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-right: 2px solid rgba(255, 255, 255, 0.465);
    width: 270px;
    height: 100%;
    padding: 5rem 0;
    gap: 3rem;
    top: 0;
    position: fixed;
    z-index: 1;
}

ul {
    list-style: none;
}

.aside__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__subtitle div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.title {
    font-size: 2rem;
    color: var(--color-header);
    font-weight: 400;
}

.one {
    align-self: flex-start;
    border: 0.15rem solid #543ece;
    width: 50px;
}

.two {
    align-self: flex-start;
    border: 0.15rem solid #543ece;
    width: 20px;
}

.home img {
    width: 30%;
    height: 20%;
}

/* ---------------------HEADER------------------ */

.logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.logo__container div {
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-titulo);
    transform: rotate(50deg);
    border-radius: 20px;
    transition: transform 2s;
}

.logo__container div:hover {
    transform: rotateX(150deg) rotateY(360deg);
}

.logo__container h1 {
    font-family: var(--font-titulo-header);
    font-size: 2rem;
    text-align: center;
    margin: 100px auto 30px auto;
    color: var(--color-titulo);
    position: absolute;
    bottom: 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav a {
    font-family: var(--font-header);
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-titulo);
    transition: 0.5s;
}

.nav a:hover {
    color: var(--color-header);
    transform: translateY(4px);
}

.nav a.active__scroll {
    color: var(--color-header);
}

hr {
    width: 140px;
    border: 1px dashed var(--color-hr);
}

.nav i {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.icons__header {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.icons__header i {
    font-size: 1.6rem;
    color: var(--color-titulo);
    transition: 0.3s;
}

.icons__header i:hover {
    color: var(--color-header);
    transform: translateY(4px);
}

/* ---------------------HOME------------------------- */
.home__container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 0 30px;
    width: 80%;
    left: 270px;
    min-height: 100vh;
    gap: 1rem;
}

/* .home aside,
.home img {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.home h2 {
    font-size: 6rem;
    font-family: var(--font-sections);
    font-weight: 500;
    color: var(--color-header);
}

.home a {
    font-size: 5rem;
    font-family: var(--font-section-home);
    font-weight: 500;
    animation: gradient 10s ease-in-out infinite;
    background: linear-gradient(-45deg, var(--color-header), #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.typewriter {
    font-family: var(--font-sections);
    color: #e73c7e;
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 20px;
    letter-spacing: 4px;
    border-right: solid 3px #ffffff;
    white-space: nowrap;
    overflow: hidden;
    animation:
        animated-text 5s steps(50, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;

}

/* Animation */

@keyframes animated-text {
    0% {
        width: 0;
    }

    50% {
        width: 780px;
        /*         animation:
        animated-text 4s steps(29, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite; */
    }

    100% {
        white-space: pre-line;
        /* Permite saltos de línea */
    }
}



/* Cursor Animation */

@keyframes animated-cursor {
    from {
        border-right-color: #ffffff;
    }

    to {
        border-right-color: transparent;
    }
}

.paragraph {
    color: var(--color-paragraph);
    font-size: 1.1rem;
    font-family: var(--font-paragraph);
    line-height: 2.5rem;
}

picture img {
    width: 360px;
    height: 360px;
}

.img-tigers img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 89%;
    transform: translate(-50%, -50%);
    z-index: .1;
}


.img-tigers2 img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2%;
    left: 91%;
    transform: translate(-50%, -50%);
    z-index: .1;
}


/* ---------------------ACERCA DE------------------------- */
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 0 30px;
    width: 80%;
    left: 270px;
    min-height: 100vh;
    gap: 1rem;
    font-family: var(--font-paragraph);
}

.button__download {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #543ece;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-family: var(--font-paragraph);
    transition: 0.5s;
    cursor: pointer;
}

.button__download:hover {
    transform: translateY(4px);
}

.entries {
    display: flex;
    justify-content: space-between;
    font-family: var(--color-paragraph);
}

.education__description {
    width: 450px;
    margin-top: 20px;
    background: rgba(48, 19, 177, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06), -5px -5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 4px;
}

.block-content {
    min-height: 100vh;
}

block-content p {
    font-size: 1.1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto 1em auto;
}

.block-content h2 {
    text-align: center;
    margin: 1em 0 0 0;
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.02em;
}

@media all and (min-width: 40em) {
    .block-content h2 {
        font-size: 4.75em;
    }
}

.subtitle {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
}

.heading-group {
    margin: 0 0 3em 0;
}

.content h3 {
    font-size: 1.2em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fff;
}

@media all and (min-width: 40em) {
    .content h3 {
        font-size: 2.5em;
    }
}

h1,
h2,
h3 {
    font-weight: 900;
}

p {
    line-height: 1.5;
}

.l-block-spacing {
    min-height: 80vh;
    padding: 2em 0 4em 0;
}

.l-contained {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

@media all and (min-width: 40em) {
    .l-contained {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.timeline-list {
    padding-bottom: 1em;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.timeline-list:before {
    content: "";
    border-left: 5px solid var(--color-titulo);
    left: 0;
    top: 2em;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    transform-origin: 0 0;
    animation: scaleVertical 3s 1s ease both 1;
}

.timeline-list:after {
    content: "";
    clear: both;
    position: absolute;
    bottom: 0px;
    left: -0.5em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-titulo) repeat scroll 0% 0%;
    border: 5px solid var(--color-titulo);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.t-block-teal {
    background: linear-gradient(90deg, #FDB813, #C49400, #FDB813, #C49400, #FDB813);
}

.t-block-teal h2 {
    color: #fff;
}

.t-block-teal h3 {
    color: var(--color-header);
}

.t-block-teal p {
    color: #ffffff;
}

.t-block-teal span {
    opacity: 0.5;
}

.timeline-list li {
    margin: 0 0 3em 0;
    padding: 0 2em 0em 2em;
    position: relative;
}

.timeline-list li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -0.6em;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-titulo) repeat scroll 0% 0%;
    border: 5px solid var(--color-titulo);
    animation: revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list {
    animation: reveal 2s 0 ease both 1;
}

.timeline-list li .content {
    animation: revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
    animation-delay: 0.85s;
}

.timeline-list li:nth-child(1) .content {
    animation-delay: 1.05s;
}

.timeline-list li:nth-child(2):before {
    animation-delay: 1.2s;
}

.timeline-list li:nth-child(2) .content {
    animation-delay: 1.5s;
}

.timeline-list li:nth-child(3):before {
    animation-delay: 1.8s;
}

.timeline-list li:nth-child(3) .content {
    animation-delay: 2.1s;
}

.timeline-list li:nth-child(4):before {
    animation-delay: 2s;
}

.timeline-list li:nth-child(4) .content {
    animation-delay: 2.3s;
}

@keyframes revealFromLeft {
    0% {
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleVertical {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes revealScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ---------------------PROJECTS------------------------- */

.txt label,
a {
    font-size: 25px;
    text-decoration: none;
}

.project__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 30px;
    width: 80%;
    left: 270px;
    min-height: 100vh;
    gap: 1rem;
    font-family: var(--font-paragraph);
}

.aside__projects {
    display: flex;
    justify-content: space-between;
    /*  padding: 40px;
    background: rgba(76, 43, 223, 0.1); */
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 480px;
    margin-top: 20px;
    background: linear-gradient(90deg, #FDB813, #C49400, #FDB813, #C49400, #FDB813);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06), -5px -5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 4px;
    transition: all .2s;
    gap: 1rem;
}

.project:hover {
    box-shadow: 0px 0px 30px 1px rgba(45, 22, 150, 0.5);
    ;
}

.project picture img {
    width: 450px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.project div {
    display: flex;
    justify-content: space-around;
}

.project div a {
    padding: 1rem 4rem;
    border: none;
    background-color: #543ece;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-family: var(--font-paragraph);
    transition: 0.5s;
    cursor: pointer;
}

.project div a:hover {
    transform: scale(0.97);
    color: var(--color-titulo);
    box-shadow: 7px 5px 56px -14px #4646a3;
}

.project div a i {
    font-size: 1.5rem;
    transition: 0.2s;
}


/* ----------------------CONTACT--------------------------- */
.contacts__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 30px;
    width: 60%;
    left: 270px;
    min-height: 100vh;
    gap: 1rem;
    font-family: var(--font-paragraph);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 20px auto;
    background: rgb(177, 174, 19);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06), -5px -5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 4px;
    transition: all .2s;
    gap: 1rem;
    padding: 40px 40px;
}

form p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

form .contact-box {
    position: relative;
}

form .contact-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

form .contact-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

form .contact-box input:focus~label,
form .contact-box input:valid~label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.contact-area {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    color: var(--color-header);
}

.contact-area textarea {
    background-color: #2c4105;
    border: none;
    resize: vertical;
    padding: 20px;
    caret-color: white;
    color: white;
    height: 200px;
}

.contact-area textarea:focus {
    box-shadow: 0 1px 1px rgba(179, 170, 50, 0.075)inset, 0 0 8px #288af3;
    outline: 0 none;
}

textarea::placeholder {
    color: #91a19d;
}

.submit {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
}

.submit input {
    padding: 10px 40px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;
    border: none;
    font-family: var(--font-paragraph);
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.submit input:hover {
    transform: scale(0.97);
    background-color: #051d41;
}

/*-----------------------FOOTER--------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 30px;
    width: 80%;
    left: 270px;
    min-height: 10vh;
    gap: 1rem;
    font-family: var(--font-paragraph);
    background: rgb(255, 255, 255);
}

footer p {
    color: black;
}

footer p a {
    text-decoration: none;
    color: var(--color-titulo);
}

/* -------------------------------------------------------- */
/*--------------------------RESPONSIVE----------------------*/
@media screen and (max-width: 1200px) {

    .img-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .img-container {
        margin-left: 0%;
        width: 100%;
        /* Establece un ancho para la imagen */
        height: auto;
        /* Permite que la altura se ajuste automáticamente */
        max-width: 200%;
        /* Asegura que la imagen no exceda el tamaño del contenedor */
    }

    .logo-balon {
        display: block;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 35px 47%;
        margin: 20px auto;
        height: 20px;
        background: rgba(3, 30, 71, 0.3);
        border: none;
        border-radius: 2rem;
        z-index: 9999;
    }

    .nav ul {
        margin-left: -55px;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        transition: 0.3s;
    }

    .nav li:hover {
        transform: translateY(4px);
    }

    hr {
        display: none;
    }

    .nav a {
        font-size: 0.6rem;
        font-weight: 800;
    }

    /* Acerca de */

    .iconos {
        margin-left: 20%;
        z-index: 9999;
    }

    /* los demas iconos de contactos, galeria y etc */

    .icono {
        margin-left: 30%;
        z-index: 9999;
    }

    .nav i {
        font-size: 1.4rem;
        display: block;
    }

    .logo__container {
        display: none;
    }

    .icons__header {
        position: fixed;
        transform: translate(-50, -50%);
        left: 91%;
        top: 10%;
        display: block;
    }

    .home img {
        width: 90%;
        height: 20%;
    }


    /* ---------------------HOME------------------------- */
    .home__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 20px;
        width: 100%;
        left: 0;
    }


    .home h2 {
        font-size: 4rem;
    }

    .home a {
        font-size: 4rem;
    }

    .typewriter {
        font-size: 1.8rem;
    }

    .typewriter {
        font-family: var(--font-sections);
        color: #e73c7e;
        font-size: 2.5rem;
        font-weight: 100;
        font-style: italic;
        opacity: 0.6;
        margin-bottom: 20px;
        letter-spacing: 4px;
        border-right: solid 3px #ffffff;
        white-space: nowrap;
        overflow: hidden;
        animation:
            animated-text 5s steps(50, end) 1s 1 normal both,
            animated-cursor 500ms steps(29, end) infinite;

    }

    /* Animation */

    @keyframes animated-text {
        0% {
            width: 0;
        }

        50% {
            width: 350px;
            /*         animation:
            animated-text 4s steps(29, end) 1s 1 normal both,
            animated-cursor 600ms steps(29, end) infinite; */
        }

        100% {
            white-space: pre-line;
            /* Permite saltos de línea */
        }
    }


    .paragraph {
        font-size: 1rem;
        line-height: 2.5rem;
    }

    .home picture img {
        display: none;

    }


    .img-tigers img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: 89%;
        transform: translate(-50%, -50%);
        z-index: .1;
    }


    .img-tigers2 img {
        width: 100px !important;
        height: 100px !important;
        position: absolute;
        top: 1%;
        left: 89%;
        transform: translate(-50%, -50%);
        z-index: .1;
    }




    /* ---------------------ABOUT------------------------- */
    .about__container {
        display: flex;
        justify-content: center;
        top: 10px;
        width: 100%;
        left: 0;
    }

    .aside__subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    .title {
        font-size: 1.7rem;
        padding-top: 0rem;
    }

    .t_education,
    .t_formation {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .one,
    .two {
        display: none;
    }

    .entries {
        display: flex;
        flex-direction: column;
    }

    .education__description {
        width: 100%;
    }

    .block-content {
        padding: 40px 10px;
    }

    /* ---------------------PROJECTS------------------------- */
    .project__container {
        display: flex;
        flex-direction: column;
        top: 50px;
        width: 100%;
        left: 0;
    }

    .aside__projects {
        justify-content: space-around;
        width: 100%;
    }

    .project {
        width: 400px;
        height: 450px;
    }


    .project img {
        height: 40%;
        object-fit: cover;
        object-position: center;
    }

    .project div a {
        padding: 0.5rem 2rem;
    }


    /* ----------------------CONTACT--------------------------- */
    .contacts__container {
        top: 100px;
        left: 0;
        width: 100%;
        margin-bottom: 120px;
    }

    /*-----------------------FOOTER--------------------------- */
    footer {
        top: 0;
        left: 0;
        width: 100%;
        font-size: 0.5rem;
        align-items: center;
        text-align: center;
        /* display: none; */
    }

}

/*----------------- LOADER---------------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-page);
    z-index: 800;
    height: 100%;
    width: 100%;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    padding: 0;
}

#loader:before {
    content: "";
    border-top: 11px solid rgba(255, 255, 255, 0.1);
    border-right: 11px solid rgba(255, 255, 255, 0.1);
    border-bottom: 11px solid rgba(255, 255, 255, 0.1);
    border-left: 11px solid #06f5d5;
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}








/* body {
    background-color: azure;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.btn2 {
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
    height: 30px;
    font-family: fantasy;

}

.btn {
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
    height: 30px;
    font-family: fantasy;
}
 */